# Mac stuff
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
RPi_utils/RFSniffer
RPi_utils/codesend
RPi_utils/send

